.indentButton {
	margin-left: 280px;
	margin-top: 20px;
}

.indentErrorMsg {
	margin-left: 480px;
	color: red;
	font-weight: bold;
}

.centrify{
	margin-top: 15px;
	margin-left: -300px;
}
